.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
lib/readme.txt
sonoff/user_config.h
platformio.ini
sonoff\user_config.h
sonoff/user_config.h
sonoff/user_config.h
sonoff/user_config.h
